body{
 color: rgb(12, 47, 48); 
 background: black;  
}
header{
    border-bottom: solid 2px rgb(rgb(0, 98, 255));
    padding: 20px;
    font-size: 32px;
    color: black;
    background: rgb(32, 53, 93);
}
.chamada{
    background: cadetblue;
    padding-bottom: 100px;
    padding-top: 100px;
}